# AWS Configuration
AWS_DEFAULT_REGION=us-east-1
S3_BUCKET_NAME=your-bucket-name

# FastAPI Configuration
BATCH_JOB_QUEUE=whisperx-demo-job-queue
BATCH_JOB_DEFINITION=whisperx-demo-whisper-transcription

# Batch Worker Configuration
TARGET_LANGUAGE=es
