# AWS Configuration
aws_region = "us-east-1"

# Project Configuration
project_name = "whisperx-demo"
environment  = "prod"

# Network Configuration
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b"]

# FastAPI ECS Configuration
fastapi_cpu           = 512
fastapi_memory        = 1024
fastapi_desired_count = 2

# AWS Batch Configuration
batch_max_vcpus     = 16
